body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*--- navigation bar ---*/

.navbar {
  background:#533A71;
  width: 100%;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #8aea92;
}

.navbar-collapse {
  justify-content: flex-end;
}
/*--------------features-------------*/

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}



  /*--------------placeholder text--------------------*/

  /*body{margin-top:20px;}*/
/*
.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}*/

/*---------------recent nav bar ------------------*/
/*.navbar {
  width: 100%;
  background-color: #533A71;
  color: #fff
  /*float: right;*/
}

/*.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}*/

/*.navbar li a:hover {
  text-decoration: none;
  color: #FF5959;
}*/*/
/*-----------Old Code ----------------*/
/*nav-link li a:hover {
  background-color: #FF5959;
  text-decoration: none;
  color: #fff;
}*/

/*.navbar-brand {
  float: right;
  padding: 0;
  margin: 0;
}*/

/*li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #533A71;
  position: fixed;
  top: 0;
  width: 100%;
}*/

/*nav img {
  padding: 0;
  margin: 0;
  float: left;
}*/

/*li:last-child {
  float: left;
  padding: 0;
  margin: 0;
}*/

/* Change the link color to #111 (black) on hover */

/*----------- Forms Format ---------------------*/
form {
  position: relative;
  top: 80px;
  left: 20px;
}
