body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #533A71;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:last-child {
  float: left;
  padding: 0;
  margin: 0;
}

/*li:last-child {
  float: left;
  padding: 0;
  margin: 0;
}*/

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #FF5959;
  text-decoration: none;
  color: #fff;
}

/*----------- Forms Format ---------------------*/
form {
  position: relative;
  top: 80px;
  left: 20px;
}
