<%=@problem.question%>

<form action ="/problems" method ="post">
  <input type ="text" name ="explanation">
  <input type ="text" name ="student_answer">
  <input type ="submit" name ="Submit Answer">
</form>
