<!-- <h1>Problem:</h1>
<%=@problem.question%>

<h1>Solution:</h1>
<form action ="/solutions/<%=@problem.id%>" method ="post">
  Explanation: <textarea name ="explanation" required></textarea><br>
  Numerical Answer: <input type ="text" name ="student_answer" required><br>
  <input type ="submit" name ="Submit Answer">
</form> -->
