<div class="container features">
  <h1>Welcome to Math Social!</h1>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3 class="feature-title">Ready.</h3>
      <img src="images/column-1.jpg" class="img-fluid">
      <p>One of the most challenging and rewarding parts of mathematics is solving word problems. Sometimes solving problems can be a bit challenging, but with the right support - (from your math buddies, of course - solving problems becomes just as enjoyable as holding a conversation with friends!</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3 class="feature-title">Set.</h3>
      <img src="images/column-2.jpg" class="img-fluid">
      <p> Choose the friends you want to help you solve tasks. These friends will be able to write helpful comments on your work. Make sure you add friends you trust to guide you when you're stuck and challenge you even when you get an answer correct!</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3 class="feature-title">Solve.</h3>
      <img src="images/column-3.jpg" class="img-fluid">
      <p>The most important part of solving word problems is sharing your explanation. Your explanation might be help your math buddies understand a concept. Challenge yourself to write down every part of your solution. Celebrate your hardwork by publishing your strategy on the web! </p>
    </div>
  </div>
</div>
